<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    @*<link rel="stylesheet" href="~/lib/kendo-css/kendo.common.min" />*@
    
    <link rel="stylesheet" href="~/lib/kendo-css/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-css/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-css/Material_kendo.css" />

  @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/kendo/kendo.all.min.js"></script>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*    <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2021 - ONQHL7
        </div>
        </footer>
        @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
